*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.header__logo-img{
    width: 100px;
}

.header__brand{
    margin: 24px 0;
    font-size: 3.2rem;
    color: #fff;
    background-color: #FF0000;
}

.header__nav{

}

.header__nav-item{
    font-size: 2rem;
    line-height: 1.6;
}

.about{
    background-color: #A52A2A;
    margin-top: 24px;
}

.about__header{
    margin-bottom: 24px;
    font-size: 40px;
    text-align: center;
    color: #fff;
}

.about__desc{
    font-size: 30px;
    color: #fff;
    line-height: 1.6;
    margin-bottom: 24px;
    text-align: justify;
}

.about .about__desc span {
    color: #000;
}

.about__img{
    width: 50%;
}

.history{
    margin-top: 24px;
    background-color: #A52A2A;
}

.history__header{
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin-bottom: 24px;
}

.history__list{
    list-style-type: disc;
    margin-left: 40px;
    font-size: 2.5rem;
    color: #fff;
    line-height: 1.6;
}

.history__list-item{

}

.history__img{
    width: 50%;
}

.table{
    margin-bottom: 8px;
}

.table__header{
    text-align: center;
    font-size: 3rem;
    margin: 24px 0;
}

.table table{
    width: 900px;
    height: 800px;
    margin: auto;
}

.table table,th,tr,td{
    border: 1px solid #000;
    /* border-collapse: collapse;
    border-spacing: 1px; */
    font-size: 1.4rem;
}

.table th{
    font-size: 1.6rem;
    padding: 16px 0;
}

.table td{
    text-align: left;
}

/* HÀNG 1 */
.table tr:nth-child(1) td:nth-child(1){
    background-image: url(../img/greentea.jpg);
    text-align: right;
}

.table tr:nth-child(1) td:nth-child(3){
    text-align: center;
}

/* HÀNG 2 */
.table tr:nth-child(2) td:nth-child(1){
    text-align: right;
}

/* HÀNG 3 */
.table tr:nth-child(3) td:nth-child(1){
    background-image: url(../img/blacktea.jpg);
    text-align: center;
}

.table tr:nth-child(3) td:nth-child(3){
    text-align: center;
}

/* HÀNG 4 */
.table tr:nth-child(4) td:nth-child(1){
    text-align: right;
}

/* HÀNG 5 */
.table tr:nth-child(5) td:nth-child(1){
    background-image: url(../img/olongtea.jpg);
    text-align: left;
}

.table tr:nth-child(5) td:nth-child(3){
    text-align: center;
}

/* HÀNG 6 */
.table tr:nth-child(6) td:nth-child(1){
    text-align: right;
}

/* HÀNG 7 */
.table tr:nth-child(7) td:nth-child(1){
    background-image: url(../img/fruit.jpg);
    text-align: center;
}

.table tr:nth-child(7) td:nth-child(3){
    text-align: center;
}

.table tr:nth-child(7) td:nth-child(4){
    text-align: center;
}

/* HÀNG 8 */
.table tr:nth-child(8) td:nth-child(2){
    text-align: center;
}

/* HÀNG 10 */
.table tr:nth-child(10) td:nth-child(1){
    background-image: url(../img/milktea.png);
    text-align: center;
}
